{% extends "layout.html" %} {% block content %}

<!--Conceptual Group to indicate purpose and audience of this site-->
<div class="home_purpose row">
    <div class="col-6">
        <div class="home_purpose_title">To You who Struggle with Meal Planning: </div>
        <br />
        <div class="home_purpose_text">
            <p>
                We know that it is super hard to find the most fitting meal plan for you.<br />
                You have dietary restrictions and goals that keep changing.<br /> 
                And you want to find the meals that have all your favorite food in it?<br /> 
                Don't worry! We understand that and we are here to help!
            </p>
            <br />
            <p>
                This website will guide you from not knowing what to cook to having a grocery list ready to go!<br /> 
                It has three main steps to find the right meal for you. <br /> 
                <br />
                <div class="home_purpose_text_semi_important">Step 1: </div> 
                Generate 10 preliminary meals based on your dietary restrictions and goals<br /> 
                <div class="home_purpose_text_semi_important">Step 2: </div> 
                You choose the meal you are most interested in and personalize the recipe<br /> 
                <div class="home_purpose_text_semi_important">Step 3: </div>
                Generate the grocery list that is ready to go! <br />  
                <br /> 
                To start, press on the <span class="home_purpose_text_important"> Find a Meal </span> Button on the top of the screen!<br/>
            </p>
        </div>
    </div>
    <div class="col-6">
        <img
          src="https://images.everydayhealth.com/images/diet-nutrition/mediterranean-diet/mediterranean-diet-food-list-meal-plan-722x406.jpg?sfvrsn=da69b6eb_0"
          alt="Meal Plan Image"
        />
    </div>
</div>
{% endblock %}
